@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #f47b2a;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  transition: all 0.4s;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}
section {
  padding: 70px 0;
}
section > .title {
  font-size: 3em;
  font-weight: 400;
  text-align: center;
}
section > .title + p {
  margin: 0 auto;
  padding: 0 200px;
  text-align: center;
}
/*--------- header---------  */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999999;
  padding: 0 10px;
}
.menu-btn {
  position: relative;
  z-index: 999;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.menu-btn::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 4px;
  transition: all 0.3s linear;
  background-color: #000;
  transform: translateY(-5px) rotate(0);
}
.menu-btn::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 4px;
  transition: all 0.3s linear;
  background-color: #000;
  transform: translateY(5px) rotate(0);
}
.menu-btn.active::after {
  background-color: #fff;
  transform: translateY(0px) rotate(45deg);
}
.menu-btn.active::before {
  background-color: #fff;
  transform: translateY(0px) rotate(-45deg);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
header .container.active {
  padding: 0;
}
.logo img {
  max-width: 40px;
}
.menu,
.user,
.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul li {
  list-style: none;
}
.menu ul li:hover a {
  color: var(--primary-color);
}

.menu ul li a {
  text-decoration: none;
  padding: 4px 10px;
  color: #000;
  font-weight: 600;
}
.btn {
  text-decoration: none;
  padding: 4px 20px;
  color: var(--primary-color);
  border-radius: 50px;
  transition: 0.4s;
  font-weight: 500;
}
.user .btn {
  border: 1px solid var(--primary-color);
  border-radius: unset;
}
.user .btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.btn.login {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-right: 10px;
}
.btn.signup {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-right: 10px;
}
/*--------- banner---------  */
#banner {
  margin-top: 87px;
  background: url(./images/intro.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
  position: relative;
}
#banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 70%;
  height: 100%;
  transform: translateX(-50%);
  background: rgba(236, 236, 236, 0.806);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  z-index: 7;
}
#banner .banner-content {
  position: relative;
  z-index: 10;
  width: 430px;
  margin: 0 auto;
  padding: 10px;
}

.banner-content h2 {
  color: var(--primary-color);
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.2em;
  margin: 10px 0;
}
.banner-content .time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  gap: 30px;
}
.banner-content .time span {
  font-size: 2em;
}
.banner-content P {
  font-size: 0.9em;
  font-weight: 300;
}
.banner-content .day {
  font-size: 1.2em;
  font-weight: 400;
}
.banner-content .btn-banner {
  font-size: 0.9em;
  font-weight: 500;
  color: #000;
  background: var(--primary-color);
}
.banner-content .btn-banner:hover {
  color: #000;
  background: rgb(192, 110, 43);
}
/*--------- events---------  */
.events {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.events .event-image {
  max-width: 560px;
  object-fit: cover;
  border-radius: 20px;
}
.events .event-content {
  width: 500px;
}
.event-content h2 {
  font-size: 3em;
  font-weight: 500;
  color: var(--primary-color);
}
.event-content p {
  margin: 20px 0;
}

/*--------- about---------  */
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}
.about-item .avatar {
  width: 124px;
  height: 124px;
  margin: 0 auto;
  position: relative;
}
.about-item {
  width: 30%;
  height: 280px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  border: 1px solid #ccc;
  padding: 20px;
}
.about-item h3 {
  margin: 16px 0;
  transition-delay: 0.1s;
}

.about-item img {
  border-radius: 50%;
  width: 124px;
  height: 124px;
}
.about-item .avatar div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(97, 92, 92, 0.81);
  z-index: 9;
  opacity: 0;
}
.about-item .avatar div a {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 5px;
  width: 24px;
  color: #fff;
  transition: 0.4s;
}
.about-item:hover .avatar div {
  opacity: 1;
}

.about-item:hover > * {
  color: var(--primary-color);
}
.about-item:hover {
  /* box-shadow: 0 0 0px 2px #f47b2a; */
  border: 1px solid var(--primary-color);
}

/*--------- events---------  */
.events-tag ul {
  margin: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.events-tag ul li {
  list-style: none;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 8px;
}
.events-tag ul li:hover {
  background-color: var(--primary-color);
}
.event-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.event-item {
  display: flex;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 49%;
  padding: 30px;
}
.event-item .event-time {
  width: 80px;
  height: 80px;
  margin: 0 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  background-color: #fdebdf;
  border: 3px solid #fff;
  box-shadow: 0 0 0 4px #fdebdf;
}
.event-item .event-content h3 {
  color: var(--primary-color);
  font-weight: 500;
}
.event-item .event-content span {
  font-weight: 500;
}
.event-item .event-content .btn {
  border: 1px solid var(--primary-color);
  color: #000;
  padding: 10px 40px;
}
.event-item:hover .event-content .btn {
  background: var(--primary-color);
}
.event-item:hover {
  border: 1px solid var(--primary-color);
}
#event .intro {
  margin-top: 40px;
  padding: 100px;
  text-align: center;
  color: #fff;
  background: linear-gradient(
      to left,
      rgba(7, 7, 7, 0.568),
      rgba(26, 21, 21, 0.63)
    ),
    url("./images/intro.jpg");
  position: relative;
}
#event .intro i {
  font-size: 3em;
  cursor: pointer;
}
#event .intro h2 {
  font-size: 3em;
  color: #fff;
}
#event .intro p {
  margin: 20px 0;
}

/*------- class ------- */
.class {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  margin-top: 40px;
}
.class-card {
  width: 23%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  padding: 40px 20px;
  border-radius: 10px;
  overflow: hidden;
}
.class-title {
  padding: 60px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.class-title::before {
  position: absolute;
  content: "";
  width: 140%;
  height: 80%;
  top: 50%;
  left: -44px;
  background: var(--primary-color);
  transform: translateY(-50%) rotate(11deg);
  opacity: 0.2;
  z-index: 1;
}

.class-title h3 {
  font-size: 1.3em;
  font-weight: 400;
  position: relative;
  z-index: 9;
}
.class-title h2 {
  font-size: 2em;
  font-weight: 500;
  position: relative;
  z-index: 9;
}

.class-card:hover {
  border: 1px solid var(--primary-color);
}

.class-card .btn {
  margin-top: 32px;
  display: inline-block;
  border: 1px solid var(--primary-color);
}
.class-card:hover .btn {
  background-color: var(--primary-color);
  color: #000;
}
.class-card:hover .class-title::before {
  opacity: 1;
}
/*------- response ------- */
.slider {
  display: flex;
  align-items: center;
}
.slide-item {
  padding: 70px;
  text-align: center;
}
.slick-dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.slick-dots > * {
  list-style: none;
}
.slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background: rgba(224, 62, 12, 0.486);
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  transform: scale(0.7);
  outline: none;
  cursor: pointer;
}
.slick-dots .slick-active button {
  background-color: var(--primary-color);
  transform: scale(1);
}
.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.card-content img {
  display: inline-block;
  margin-right: 10px;
  height: 100px;
  min-width: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: #f47b2a;
}
.rating .star-rating {
  padding: 10px;
  color: var(--primary-color);
}
.rating p {
  font-size: 1.2em;
  font-weight: 500;
}

.card-content::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 30%;
  height: 150%;
  background: var(--primary-color);
  opacity: 0.3;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  transform: translateX(-50%);
  z-index: 1;
}
.card-content p {
  position: relative;
  z-index: 2;
}

/*------- posts ------- */

.posts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px 0;
}
.post {
  width: 24%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  overflow: hidden;
}

.post .post-img {
  width: 100%;
  height: 240px;
  position: relative;
}
.post .post-img > div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post .post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post .post-content {
  padding: 20px;
}
.post-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.post-title h2 {
  font-size: 1em;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.post-title p {
  min-width: 40px;
  text-align: center;
  color: #fff;
  background: #f47b2a73;
  border-radius: 4px;
}
.post-title p span {
  color: var(--primary-color);
}
.post-content > p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin: 24px 0;
  min-height: 100px;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-meta span {
  color: #504f4f;
  margin-right: 10px;
}
.post-meta span i {
  margin-right: 4px;
}
.post-share {
  font-size: 1.3em;
  color: var(--primary-color);
}
.post:hover {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.8);
  border: 1px solid var(--primary-color);
}
.post:hover .post-img > div {
  opacity: 1;
}

/*------- contact ------- */
.message-box {
  margin-top: 40px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 70%;
  height: 44px;
}
.message-box input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 0 100px 0 30px;
  outline: none;
  border: 1px solid#ccc;
}
.message-box input:hover {
  border: 1px solid#000;
}
.message-box input:focus {
  border: 2px solid var(--primary-color);
}
.message-box button {
  position: absolute;
  top: 50%;
  right: 4px;
  height: 84%;
  border-radius: 50px;
  outline: none;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 10px;
  background-color: var(--primary-color);
}

/*------- footer ------- */

#footer {
  background-color: #011c3a;
  color: #fff;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
footer .col {
  width: 22%;
  color: #fff;
}
footer .col a {
  color: #fff;
  text-decoration: none;
}
footer .col h2 {
  margin-bottom: 10px;
}
footer .col li {
  list-style: none;
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 4px;
}
footer .col li i {
  margin-right: 8px;
}
footer .col li:hover {
  background: #255e9ea4;
}
.footer-social {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.footer-social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
.sendEmail .input-box {
  position: relative;
  height: 36px;
  margin: 20px 0;
}
.sendEmail .input-box input {
  width: 100%;
  height: 100%;
  padding: 0 10px 0 32px;
  background: transparent;
  outline: none;
  border: 1px solid rgba(204, 204, 204, 0.452);
  border-radius: 4px;
  color: #fff;
}
.sendEmail .input-box input::placeholder {
  font-weight: bold;
}
.sendEmail .input-box input:focus {
  border: 2px solid var(--primary-color);
}
.sendEmail .input-box i {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 1.2em;
}
.sendEmail button {
  outline: none;
  border: none;
  width: 100%;
  font-weight: 500;
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 8px 10px;
  text-transform: uppercase;
}
.sendEmail button:hover {
  opacity: 0.7;
}

/* --------------responsive-------------- */

@media screen and (max-width: 1111px) {
  .container {
    padding: 40px;
  }
  section > .title + p {
    padding: 20px;
  }
  #banner .banner-content {
    width: auto;
    padding: 40px;
  }
  header .container {
    padding: 0;
  }
  #banner {
    margin-top: 40px;
  }
  #banner::after {
    width: 100%;
    clip-path: none;
    left: 0;
    transform: none;
  }

  .menu-btn {
    display: inline-flex;
  }
  .menu a {
    font-size: 0.7em;
  }
 .menu li a {
    color: #fff !important;
  }
  header .container .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #011c3a;
    transform: translateY(-100%);
    opacity: 0;
  }
  header .container .menu-btn.active ~ .menu {
    transform: translateY(0);
    opacity: 1;
  }
  .card-content,
  .events,
  header .container .menu ul {
    flex-direction: column;
  }
  .card-content::after {
    display: none;
  }
  #event .intro {
    padding: 40px 0;
  }
  .event-item,
  .class-card,
  .post {
    width: 48%;
  }
  .events .event-content {
    width: auto;
  }
  .events img {
    max-width: 100% !important;
  }
  .col {
    width: auto !important;
  }
  .slide-item {
    padding: 0px;
    margin: 0 40px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
  #banner .banner-content {
    padding: 20px;
  }
  #event .intro h2,
  section > .title {
    font-size: 2em;
  }
  .about-item,
  .event-item,
  .class-card,
  .post {
    width: 80%;
  }
  .event-list,
  .event-item {
    flex-direction: column;
    align-items: center;
  }
  .posts,
  .class,
  .about-content {
    flex-direction: column;
  }
  .card-content::after {
    display: none;
  }
}
